// Esquema de colores

// Primer esquema de color
$white: #fff;
$black: #000;
$gray:#434b4d;

// Segundo esquema de color
$light-blue: #bbeaf1;
$light-red: #f46464;

// Tipografía
$open-sans: 'Open Sans', sans-serif;

// Peso de la fuente
$bold: 700;

// Tamaño de la tipografía
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;